.titlepost{
    margin: 2rem 4rem 0.5rem 4rem;
    background: rgb(31,95,227);
    background: linear-gradient(308deg, rgba(31,95,227,1) 0%, rgba(33,132,235,1) 34%, rgba(46,169,227,1) 100%);
    /* font-weight: bold;   */
    color: white;   
    box-shadow: 
      5px 5px 8px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;    padding-top: 1rem;
    border: solid 2px #d8d8d8;
    margin-top: 0;
    text-align: center;
    height: auto;
    font-size: medium;
    padding: 0.5rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    
}

    .publication{
        display: block;
        /* margin-top: 1rem; */
/*         overflow-y: auto;*/
        height: 85vh; 
    }
    
    .comment--form{
        padding: 0;
       /*  margin-top: 2rem; */
    }

    .lni-heart-filled {
/*         margin-bottom: 1rem;
 */        font-size: large;

        &--active {
            color: red;
        }
    }

.lni-warning--active {
color: #fcc21b
}

.usernamePost {
        margin-bottom: 1rem;
    }

.dimitri{
    margin-bottom: 1rem;

}
i {
    margin-right: 0.8rem;
}

.interaction {
    font-family: 'Quicksand', sans-serif;
    margin-left: 0.5rem;
}

.interac {
    margin-top: -1rem;
}