.footer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    background-color:  #fff;
    height: 15vh;
    align-items:center;
    margin-top: auto;
}

.sound {
      border: 1px solid #fff;
      background-color: #1f1f1f;
    font-size: small;
      color: #fff;
      font-weight: bold;
      width: 80vw;
      border-radius: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }