@use 'src/styles/vars';

.loginContainer {
  margin-bottom: 2rem;
}

.username{
      color: black;
      height: 34px;
      width: 100%;
      border-radius: 3px;
      border: 1px solid transparent;
      border-top: none;
      border-bottom: 1px solid #DDD;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
      text-align: left;

}
.connexion {
  font-family: 'Quicksand', sans-serif;
  color: #cfcfcf;
  margin-top: 1vh;
  padding:1rem;
  background-color: #f9f9f9;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.connexion--active {
  border: 1px solid #fff;
  background-color: #1f1f1f;
font-size: small;
  color: #fff;
  font-weight: bold;
  width: 80vw;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.field-input-login {
  color: black;
  height: 34px;
  width: 20rem;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 25px;
  padding-left: 1rem;
}

.login-form-button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h4 {
  font-size: 8vh;
  margin-bottom: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.titre {
  padding-top: 12vh;
}
.login-form-button{
  background: linear-gradient(315deg, rgba(31,95,227,1) 0%, rgba(33,132,235,1) 34%, rgba(46,169,227,1) 100%);
  color: white;
  font-weight: bold;
}

.connexion--active{
  background: linear-gradient(315deg, rgba(31,95,227,1) 0%, rgba(33,132,235,1) 34%, rgba(46,169,227,1) 100%);
  color: white;
  font-weight: bold;
}