.login-form {
display: flex;
height: 70vh;
}
.login-form-element {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

  }
.login-form-message {
    text-align: right;
    margin: .3em 1em;
  }
.login-form-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
.login-form-button {
    font-weight: 700;
    font-size: 0.7em;
    color: #fff;
    background-color: #E63946;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    height: 2.5em;
    }