<h1>Bienvenue sur Kroon !</h1>

<p>
    Vous recevez ce mail de confirmation suite à votre inscription sur notre site <strong>Kroon</strong>
</p>

<small>
    Si vous n'êtes pas à l'origine de cette démarche, veuillez nous contacter.
</small>
