.comment__content{
    color: black;
    height: auto;
    width: 10vh;
    border-radius: 20px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    text-align: left;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: white;
    font-size: smaller;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}
.message__username{
    text-align: left;
    margin-left: 2rem;
}
.commentaires{
    overflow-y: auto;
    height: 32vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comment__container {
    width: 100vw;
    justify-content: center;


}
.comment__icons {
font-size: small;
margin-left: 14rem;
}
.lni {
padding-left: 0.2rem;
padding-right: 0.2rem;
padding-top: 0.2rem;
padding-bottom: 0.2rem;
color: #CFCFCF;
}