div {
    background-color: #F1FAEE;
}

.posts{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;

}

.posts_description{
    color: white;
    margin: auto;
}

.title, .description{
    text-align: left;
}

button{
    text-align: center;
}