div {
    background-color: #1D3557;
}

.posts{
    display: flex;
    flex-direction: row;
    margin:1rem 0 1rem 5rem;
}

.posts_description{
    margin-left: 3rem;
    color: white;
}

.title, .description{
    text-align: left;
}

button{
    text-align: center;
}