.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  background-color: #F1F1F1;
   /* max-width: 1200px;  */
}

.logo{
  margin-top: 0px;
  margin-bottom: 0px;
  position: fixed;
  padding-bottom: 1rem;
}

