@use 'src/styles/vars';
  
  .box input[type = "text"],.box input[type = "password"] {
    display: block;
    // margin: 20px auto;
    background: #f9f9f9;
    border: solid 1px #fcfcfc;
    border-radius: 1rem;
    padding: 14px 10px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    color: #1f1f1f;
        -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
    
  }
  ::-webkit-input-placeholder {
    color: #cfcfcf;
  }
  

.connexion {
  font-family: 'Quicksand', sans-serif;
  color: #cfcfcf;
  margin-top: 1vh;
  padding:1rem;
  background-color: #f9f9f9;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.connexion--active {
  border: 1px solid #fff;
  background-color: #1f1f1f;
font-size: small;
  color: #fff;
  font-weight: bold;
  width: 80vw;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.loginContainer {
  margin-bottom: 2rem;
}

.field-input-signup {
  background: #f9f9f9;
  border: solid 1px #fcfcfc;
  border-radius: 1rem;
  padding: 14px 10px;
  width: 40vh;
  outline: none;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  color: #1f1f1f;  
}

.signup-form-button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.box{
  margin-top: 7rem;
}