@use 'src/styles/vars';
  
  .box .input[type = "text"],.box input[type = "password"] {
    display: block;
    // margin: 20px auto;
    background: #f9f9f9;
    border: solid 1px #fcfcfc;
    border-radius: 1rem;
    padding: 14px 10px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    color: #1f1f1f;
        -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
    
  }
  ::-webkit-input-placeholder {
    color: #cfcfcf;
  }
  

.connexion {
  font-family: 'Quicksand', sans-serif;
  color: #cfcfcf;
  margin-top: 1vh;
  padding:1rem;
  background-color: #f9f9f9;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.connexion--active {
  border: 1px solid #d8d8d8;
  background-color: #1f1f1f;
font-size: small;
  color: #fff;
  font-weight: bold;
  width: 80vw;
  border-radius: 35px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.loginContainer {
  margin-bottom: 2rem;
}

.field-input-signup {
  color: black;
  height: 34px;
  width: 20rem;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Quicksand', sans-serif;
  color: #1f1f1f;  
  border-radius: 25px;
  padding-left: 1rem;
}

.signup-form-button {
  margin-top: 1vh;
  margin-bottom: 1vh;
  background: rgb(31,95,227);
 background: linear-gradient(315deg, rgba(31,95,227,1) 0%, rgba(33,132,235,1) 34%, rgba(46,169,227,1) 100%);
 color: white;
 font-weight: bold;
}

.box{
  margin-top: 7rem;
}