.last_sounds{
    display: flex;
    margin-top: 0.8rem;
    justify-content: space-around;
    margin-top: 1rem;

}

.last_posts{
    border: solid 1px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 0.5rem;
}

h2{
    margin-top: 3rem;
    font-size: medium;
    font-weight: bold;
}

/* .container{

} */