.button_start {
    margin: 50px auto;
    outline: none;
    display: block;
    border: none;
    background-image:url("./playbutton_blue.png");
    background-size:11.5rem;
    background-position: 79.65rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-indent: -1000em;
  }


  
  .button_play  {
    margin: 50px auto;
    outline: none;
    display: block;
    border: none;
    background-image:url("./playbutton_red.png");
    background-size:11rem;
    background-position: 76.5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-indent: -1000em;
    cursor: pointer;
  
  }

  .button_stop{
    background: rgb(31,97,234);
    background: linear-gradient(315deg, rgba(31,97,234,1) 0%, rgba(105,184,233,1) 100%);    width: 3rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 0px;
    position: relative;
    bottom: 7.5rem;
    border: solid 3px white;
    padding-bottom: 25px;
 }

 .audioPlayer{
   position: relative;
   bottom: 5rem;
 }
